// custom style variables



$ci-color-1: #FFE7B7 !default; // logo yellow
$ci-color-2: #4E3B2B !default; // dark logo bg
$ci-color-3: #A59168 !default; // font color rgba($secondary, .55) | #AA986B | #A59168

$ci-border-color: #E0E0E0 !default;
$ci-light-block-bg: #f8f8f8 !default;

$primary: $ci-color-1 !default;
$secondary: #FFB649 !default;
$info: $ci-color-2 !default;
$light: $ci-light-block-bg !default;
$dark: darken($ci-color-2, 15) !default;
$white: #ffffff !default;
$black: #000000 !default;

$warning: #FFD768 !default;
$danger: #FF3803 !default;

$text-muted: #999999 !default;

$border-color: $ci-border-color !default;


$body-bg: darken($ci-color-2, 50) !default;
$body-color: $ci-color-3 !default;
$headings-color: rgba($secondary, .85) !default;


/*

// COLORS


$info: #e8fcf4 !default;

// darken text primary color
$bsx-text-primary: 		darken($ci-color-1, 10%) !default; //  darken text primary
$link-color:            $bsx-text-primary !default;


// ci light color (nav hover, footer, ...) 
$ci-light-color: #f0f0f0 !default;

*/



// TYPO 


$font-size-base:              .9rem !default; // Assumes the browser default, typically `14.4px`

$font-family-sans-serif:      Merriweather, Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;

//$headings-font-family:        "Young Serif", Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
//$headings-font-weight:        400 !default;




// TEXT

$bsx-text-column-max-width:   642px !default;

$bsx-line-label-text-transform: uppercase !default;





// NAV

$bsx-appnav-navbar-bg-color:				rgba($dark, 0.94) !default; // header

// main ul

// dektop only
$bsx-appnav-main-navbar-desktop-margin: 	0 auto 0 auto !default;

$bsx-appnav-navbar-brand-max-width:			160px !default;

$bsx-appnav-quickstart-bg-color: 			$info !default;

$bsx-appnav-quickstart-color: 				$secondary !default;
$bsx-appnav-quickstart-inverse-color: 		$white !default;
$bsx-appnav-quickstart-highlight-color: 	$white !default;

$bsx-appnav-quickstart-bg-color: 			$info !default;
$bsx-appnav-quickstart-dropdown-bg-color: 	$info !default;
$bsx-appnav-mobile-collapse-bg-color:		$bsx-appnav-quickstart-dropdown-bg-color !default; // mobile nav background

$bsx-appnav-nav-desktop-level-1-hover-link-bg-color:        $info !default; // desktop level 1 hover bg color (equal desktop dropdown bg 

$bsx-appnav-navbar-box-shadow:				0 1px 0 0 rgba(255, 255, 255, 0.1), 0 0 15px 0 rgba(255, 255, 255, 0.05) !default;

$bsx-appnav-dropdown-box-shadow:			0 0 0.125rem 0 rgba(255, 255, 255, 0.25) !default;

$bsx-appnav-quickstart-mobile-link-border-color: 	rgba($bsx-appnav-quickstart-color, 0.075) !default;

// link

// $bsx-appnav-link-px:							.9em !default;
// $bsx-appnav-desktop-level-1-link-lg-down-px:  	.6em !default;
// $bsx-appnav-link-py:							.65em !default;
$bsx-appnav-desktop-level-1-link-py:			1.5rem !default;
// $bsx-appnav-quickstart-inverse-color:			$bsx-text-primary !default;


// brand
$bsx-appnav-navbar-brand-padding:			.75rem .2rem .75rem .2rem !default;



/*

// NAV

// dropdown
//$bsx-dropdown-min-width: 					15rem !default;

// link 
$bsx-appnav-link-px:							.9em !default;
$bsx-appnav-desktop-level-1-link-lg-down-px:  	.6em !default;
$bsx-appnav-link-py:							.65em !default;
$bsx-appnav-desktop-level-1-link-py:			1.25rem !default;
//$bsx-appnav-quickstart-inverse-color:			$bsx-text-primary !default;
// link hover color = dropdown color
//$bsx-appnav-quickstart-dropdown-bg-color: 				$ci-light-color !default; // mobile 
//$bsx-appnav-nav-desktop-level-1-hover-link-bg-color: 	$ci-light-color !default; // desktop

// remove desktop active nav item underline
$bsx-appnav-desktop-level-1-active-link-underline-height: 	0 !default;





// active link underline
$bsx-appnav-desktop-level-1-active-link-underline-height:		0.2em !default;
$bsx-appnav-desktop-level-1-active-link-underline-bottom:		$bsx-appnav-desktop-level-1-link-py * 0.8 !default;

// link font
$bsx-appnav-basic-font-weight:					500 !default;

// navbar container (depends on link padding)
$bsx-appnav-navbar-container-desktop-padding-left:   $bsx-appnav-link-px !default;
$bsx-appnav-navbar-container-desktop-padding-right:  $bsx-appnav-link-px !default;

// brand
$bsx-appnav-navbar-logo-max-width: 				unset !default;

*/

// button icon
$bsx-menu-button-item-selector: 	'.menu-button' !default;


// BELOW NAVBAR

$bsx-below-navbar-top:					7.5rem !important !default; // overwrite other padding top rules




// ZOOMABLE IMG

$bsx-zoomable-img-after-border-color:       rgba( $primary, 0.5 ) !default;
$bsx-zoomable-img-after-hover-border-color:   rgba( $primary, 0.85 ) !default;

$bsx-zoomable-img-after-border-style:       solid !default;



/*



// BUTTON / BADGE

$bsx-button-primary-color: $white !default;
$bsx-button-light-color: $primary !default;
$bsx-button-info-color: $bsx-text-primary !default;

*/







// ACCORDION

//$bsx-acc-header-open-hover-color:   $primary !default;
//$bsx-acc-header-background: 		$white !default;
//$bsx-acc-header-open-background:	$white !default;
$bsx-acc-header-padding:            1rem 0 !default;
$bsx-acc-content-inner-padding:		1.25rem .75rem .25rem !default;
$bsx-acc-content-inner-background:	$ci-light-block-bg !default;




// footer

$bsx-footer-bg-color:         $dark !default;


