

.footer-logo-wrapper {
	svg {
		@include media-breakpoint-down(xs) {
			width: 200px;
		}
		@include media-breakpoint-only(sm) {
			width: 250px;
		}
	}
}



// BOKING FORM

.rtb-booking-form {

	// row
	form > fieldset {
		display: flex;
		flex-wrap: wrap;
		margin-right: calc($grid-gutter-width / -2);
		margin-left: calc($grid-gutter-width / -2);
	}

	// col 12
	fieldset > *,
	fieldset > legend {
		position: relative;
		width: 100%;
		padding-right: calc($grid-gutter-width / 2);
		padding-left: calc($grid-gutter-width / 2);
		margin-top: 0 !important;
	}
	@include media-breakpoint-up(sm) {
		// col 4
		legend ~ div[class^="rtb-"] {
			flex: 0 0 33.3333333333%;
			max-width: 33.3333333333%;
		}
	}

	// headings
	legend {
		margin-bottom: 0;
		line-height: 1.25;
		@extend .h5;
		@extend .text-inherit;
	}
	fieldset + fieldset > legend {
		@extend .mt-4;
	}

	fieldset {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}

	label {
		margin-top: .5rem;
		margin-bottom: .1rem;
	}

	// controls
	input,
	select,
	textarea {
		width: 100%;
		max-width: unset !important;
		@extend .form-control;
	}

	.add-message {
		@extend .mt-3;
	}

	.rtb-form-submit {
		margin-top: 0 !important;
	}

	[type="submit"] {
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-lg;
	}

}







/*

// spacer for missing lang toggle on mobile

@include bsx-appnav-navigation(mobile) {
  .bsx-lang-toggle-spacer {
    padding-right: 53px;
  }
}

*/