// COLORS


// SCSS VARIABLES


// PATHS

// images
$image-path:        "../img/" !default;

// fonts
$fontPath:          "../fonts" !default;


// CI COLORS

$ci-color-1: #0275D8 !default; // blue
$ci-color-2: #7FC5FF !default; // light blue
$ci-color-3: #FF003B !default; // red
$ci-color-4: #757575 !default; // grey
$ci-color-5: #00467F !default; // dark blue
$ci-color-6: #eee !default; // middle grey
$ci-color-7: #f8f9fa !default; // slight grey


// BOOTSTRAP COLORS

// gray
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// colored
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// themes
$primary:       $ci-color-1 !default;
$secondary:     $ci-color-2 !default;

// states
$success:       $green !default;
$info:          $ci-color-2 !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $ci-color-7 !default;
$dark:          $ci-color-5 !default;

$body-bg:                   $white !default;
$body-color:                $gray-900 !default;


// LINKS

$link-color:                              $primary !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;


// CLASS NAMES / IDENTIFIER

$touchDeviceIdentifier:     "html.touchevents" !default;


// TRANSITION

$bsx-basic-transition:      all 0.3s ease !default;


// Z-INDEX

$bsx-dropdown-z-index:      1000 !default;


// RESPONSIVE TYPO

// use bootstrap rfs
$enable-responsive-font-sizes:  true !default;


// BORDER

$bsx-basic-border-width:    1px !default;
$border-strong-width:     .2rem !default;
$border-heavy-width:      .5rem !default;


// TYPO

$font-family-sans-serif:      Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-size-base:        1rem !default;
$line-height-base:        1.5 !default;

$bsx-icon-font-family:        	"Font Awesome 6 Free" !default;
$bsx-icon-font-weight:        	900 !default;
$bsx-icon-font-selector:    	".fa" !default;
$font-weight-base:              400 !default;
$font-weight-semi:              500 !default;
$font-weight-bold:              700 !default;
$body-color:          $gray-800 !default;
$headings-font-weight:          500 !default;
$headings-color:                $gray-800 !default;
$lead-font-size:                1.25rem !default;
$badge-font-weight:       400 !default;

$bsx-headings-margin-bottom:			1rem !default;
$bsx-following-headings-margin-top:	 	2 * $bsx-headings-margin-bottom !default;
$headings-margin-bottom: 				$bsx-headings-margin-bottom !default;


// TEXT SHADOW

$text-shadow-dark:              0 0 0.1em rgba(0, 0, 0, 0.33) !default;
$text-shadow-darker:            0 0 0.5em rgba(0, 0, 0, 0.8), 0 0 0.1em rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.5) !default;
$text-shadow-darkest:           0 0 0.5em #000, 0 0 0.1em rgba(0, 0, 0, 1), 0 0 1px rgba(0, 0, 0, 1) !default;


// BUTTON (ICON, OUTLINE)

$button-distance-icon-text:     0.75em !default;
$button-icon-font-selector:     ".fa" !default;
$button-outline-border-width:   2px !default;


// CARD

$card-border-radius:            0 !default;


// VIDEO

// play button overlay
$play-button-width:       2.5em !default;
$play-button-height:            1.5em !default;
$play-button-padding-left:      0.1em !default;
$play-button-font-size:         2rem !default;
$play-button-border-radius:     0.125em !default;
$play-button-bg-color:          rgba($black, 0.4) !default;
$play-button-bg-color-hover:    rgba($primary, 0.75) !default;
$play-button-color:             rgba($white, 0.8) !default;
$play-button-color-hover:       $white !default;
$play-button-shadow-size:       0.25em !default;
$play-button-shadow-color:      rgba($white, 0.25) !default;
$play-button-transition:        $bsx-basic-transition !default;


// CUSTOM FORM

$custom-range-thumb-width:    1.5rem !default;
$custom-range-thumb-height:   $custom-range-thumb-width !default;
$custom-range-track-height:   $custom-range-thumb-width / 3 !default;

// overwrite bootstrap style which doesn't fit to standard input styling
$input-btn-focus-width:           .2rem !default; // @bootstrap dependant
$custom-select-focus-box-shadow:    0 0 0 $input-btn-focus-width rgba($primary, .25) !default;


// BREADCRUMB

$breadcrumb-divider:                "»" !default;
$breadcrumb-item-padding:           0.25rem !default;
$breadcrumb-link-color:             $gray-700 !default;

$breadcrumb-padding-y:              0 !default;
$breadcrumb-padding-x:              0 !default;

$breadcrumb-margin-bottom:          0 !default;

$breadcrumb-bg:                     transparent !default;
$breadcrumb-divider-color:          $breadcrumb-link-color !default;
$breadcrumb-active-color:           $breadcrumb-link-color !default;

$breadcrumb-border-radius:          0 !default;



// TABLE

$table-cell-padding-sm:       .35rem .25rem !default;


// ===================================================================================

// INCLUDE BOOTSTRAP VARIABLES (TO BE ABLE TO DEFINE OWN VARIABLES BASED ON BOOTSTRAP)

@import "./../../node_modules/bootstrap/scss/functions";
@import "./../../node_modules/bootstrap/scss/variables";

// ===================================================================================


// BOOTSTRAP BASED VARIABLES


// CONTAINER

$bsx-sm-container-width:  map-get($container-max-widths, "sm") !default;


// GRID

$bsx-grid-gutter-width:   $grid-gutter-width !default;


// Z-INDEX

$bsx-fixed-z-index:     $zindex-fixed + 1 !default;


// FONT

$bsx-body-color:        $body-color !default;
$bsx-font-family-sans-serif:  $font-family-sans-serif !default;
$bsx-font-size-base:      $font-size-base !default;
$bsx-line-height-base:      $line-height-base !default;

$bsx-small-font-size:     $small-font-size !default;


// LINK

$bsx-link-color:        $link-color !default;
$bsx-link-decoration:       $link-decoration !default;


// BORDER

$bsx-border-color:        $border-color !default;

$bsx-border-radius:       $border-radius !default;
$bsx-hr-border-color:       $hr-border-color !default;

$bsx-card-border-width:     $card-border-width !default;
$bsx-card-border-color:     $card-border-color !default;
$bsx-card-border-width:     $card-border-width !default;


// P (STANDARD MARGIN BOTTOM)

$bsx-paragraph-margin-bottom: $paragraph-margin-bottom !default;


// FORM

$bsx-custom-range-thumb-width:  $custom-range-thumb-width !default;


// DROPDOWN

$bsx-dropdown-min-width:    $dropdown-min-width !default;


// BUTTON

$bsx-btn-border-radius:     $btn-border-radius !default;






