// var


$bsx-dark-text-shadow:              0 0 0.1em rgba(0, 0, 0, 0.33) !default;
$bsx-darker-text-shadow:            0 0 0.5em rgba(0, 0, 0, 0.8), 0 0 0.1em rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.5) !default;
$bsx-darkest-text-shadow:           0 0 0.5em #000, 0 0 0.1em rgba(0, 0, 0, 1), 0 0 1px rgba(0, 0, 0, 1) !default;



// style


// TEXT SHADOW

.text-shadow-dark {
  text-shadow: $bsx-dark-text-shadow;
}
.text-shadow-darker {
  text-shadow: $bsx-darker-text-shadow;
}
.text-shadow-darkest {
  text-shadow: $bsx-darkest-text-shadow;
}